body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  background: #000;
  padding: 15px;
  text-align: center;
}

#menu h2 {
  margin: 15px;
  border-bottom: 1px solid #333;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background: #1c1c1c;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

button {
  background: #28a745;
  border: none;
  color: white;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}
